
.demo-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: space-around;
    margin-top: 80px;
}

.demo-container > section {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
}

.spoiler {
    color: black;
    background-color: black;
    font-size: 30px;
    width: 5em;
    height: 4em;
    position:relative;
    padding: 5px;
}

.spoiler:hover {
    -webkit-animation: spoiler-reveal 2s normal;
    -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes spoiler-reveal {
    from{
        color:black;
    }

    to {
        color:white;
    }
}

#spoiler-flip {
    position: absolute;
    top:0;
    left:0;
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;

    -webkit-transform-origin: 0% 0%;
}

.viewport {
    -webkit-perspective: 400;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
}

#spoiler-flip:hover {
    -webkit-animation: spoiler-flip 1s normal;
    -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes spoiler-flip {
    0% {
        background-color:black;
        -webkit-transform:rotateX(0deg);
    }

    100% {
        background-color:lightgray;
        -webkit-transform:rotateX(180deg);
    }
}

#progress-bar {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 10em;
    height:1.5em;
    position: relative;
    z-index: 2;
}

#progress-bar:after {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:0;
    background-color: green;
    color:white;
    border-radius: 3px;
    content: '';
    z-index: 1;
}

#progress-bar.activated:after {
    -webkit-animation: fill-to-right 2.5s;
    -webkit-animation-fill-mode:forwards;
}

#progress-bar.activated:before {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    text-align: center;
    padding: 3px;
    z-index: 2;
    content: 'Loading...';
}

@-webkit-keyframes fill-to-right {
    to {
        width: 100%;
    }
}

#threeD-viewport {
    -webkit-perspective: 200;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    position: relative;
    width:200px;
    height:200px;
    margin: 0px auto;
}

#threeD-container {
    -webkit-transform-style: preserve-3d;
    width:100px;
    height:100px;
}

#threeD-container:hover {
    -webkit-animation: box-rotate 3s;
}

.threeD-box {
    position: absolute;
    width:100px;
    height:100px;
    top:10px;
    left:10px;
    text-align: center;
}

.box-front {
    background-color:red;
    -webkit-transform:translateZ(50px);
}

.box-right {
    background-color:blue;
    -webkit-transform:rotateY(90deg) translateZ(50px);
}

.box-back {
    background-color:green;
    -webkit-transform:rotateY(180deg) translateZ(50px);
}

.box-left {
    background-color:yellow;
    -webkit-transform:rotateY(270deg) translateZ(50px);
}

@-webkit-keyframes box-rotate {
    from {
        -webkit-transform:rotateY(0deg);
    }

    to {
        -webkit-transform:rotateY(360deg);
    }
}
